.App {
  text-align: center;
}
p {
  color: #ffffff;
  margin-bottom: 20px; /* Espacement sous le titre */
  margin-top: 20px;
}

body {
  background-color:#212529;
}

.App1, .App2 {
  border-radius: 10px;
  
}
h1 {
  margin-left: 2.5%;
}

.appmain {
  font-family: Arial, sans-serif;
  margin-left: 2.5%;
  margin-right: 2.5%;
  
}
.container-fluid {
  margin-top: 20px; /* Marge entre les sections */
}
h2 {
  color: #ffffff; /* Couleur du titre */
  margin-bottom: 20px; /* Espacement sous le titre */
  margin-top: 20px;
}
.Graph1, .Graphplot1, .Graphplot2 {
  flex: 1; /* Permet aux divs de s'étirer également */
  display: flex; /* Centrer le contenu des divs */
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

.Graph2{
  width: 50%;
}



.App2 {
  background-color: #f0f0f0;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 500px;
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */
}

.prices{

  border-bottom-width: 20px;
  margin-bottom: 20px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}